@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    height: 100vh;
    width: 100%;
}

.login-area{
    width: 500px;
    padding: 50px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.89);
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
    margin-left: 50%;
    transform: translateX(-50%)
    
}
.login-container > h1{
    margin-bottom: 30px;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

.login-area h1{
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 255, 255);

}

.takeInput{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    margin-top: 20px;
}

.takeInput::placeholder{
    color: rgb(177, 174, 174);
}

.takeInput:focus{
    border: none;
    outline: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.button{
    margin-top: 30px;
    
    padding: 12px 40px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    margin-left: 100%;
    transform: translateX(-100%);
    background-color: orange;
    transition: .4s all;
    cursor: pointer;
}

.button:hover{
    padding: 17px 47px;
}

.all-item{
    display: block;
    align-items: center;
    justify-content: center;
}

.profile{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
}
